<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <!-- Email -->
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        #emailInput="ngModel"
        placeholder="Email"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <input
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        type="password"
        placeholder="Password"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
    </mat-form-field>

    <!-- Login button -->
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
