<% include partials/header %>

<h1>You fell in love with '<%= thing.toUpperCase() %>'</h1>

<% if (thing.toLowerCase() === "chocolate") { %>
    <p>CCCCHHHHOOOCCCOOOOLLLLAAAATTTTEEEE!!!!!</p>
<% } else { %>
    <p>I personally like chocolate</p>
<% } %>

<% include partials/footer %>